<section class="app-sidebar">
  <div class="app-sidebar-header">
    <div class="app-sidebar-logo">
      <img src="assets/images/horizontal-logo.svg" alt="BY" loading="lazy" />
    </div>
    <div class="app-sidebar-top-blurb">Your Account</div>
  </div>
  <section class="app-sidebar-content">
    <div
      class="app-sidebar-item"
      *ngFor="
        let i of [
          {
            name: 'Home',
            icon: 'home'
          },
          {
            name: 'Transfer',
            icon: 'transfer'
          },
          {
            name: 'History',
            icon: 'history'
          },
          {
            name: 'Profile',
            icon: 'profile'
          },
          {
            name: 'Settings',
            icon: 'settings'
          },
          {
            name: 'Billing',
            icon: 'billing'
          }
        ]
      "
    >
      {{ i.name }}
    </div>
  </section>
</section>
