<section class="transactions">
  <div class="transactions-title">Recent transactions</div>
  <section>
    <table class="transactions-table">
      <tbody class="transactions-list">
        <tr class="transaction" *ngFor="let item of data">
          <td>
            <div
              [ngClass]="{
                'transaction-icon-failed': item.status === 'failed',
                'transaction-icon-success': item.status === 'completed',
                'transaction-icon-pending': item.status === 'pending'
              }"
              class="transaction-icon"
            >
              <img
                src="assets/images/icons/transactions/{{
                  item.type === 'send-money'
                    ? 'arrow-top'
                    : item.type === 'collection'
                    ? 'arrow-down'
                    : 'receive'
                }}.svg"
                alt="BY"
                loading="lazy"
              />
            </div>
          </td>
          <td class="transaction-name">{{ item.name }}</td>
          <td class="transaction-amount">
            {{ item.currency + " " + item.amount.toFixed(2) }}
          </td>
          <td class="transaction-type">{{ item.type.split("-").join(" ") }}</td>
          <td
            [ngClass]="{
              'transaction-status-failed': item.status === 'failed',
              'transaction-status-success': item.status === 'completed',
              'transaction-status-pending': item.status === 'pending'
            }"
            class="transaction-status"
          >
            {{ item.status }}
          </td>
          <td class="transaction-time">{{ item.time_since }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
