.transactions {
  background: var(--bg-shade-1);
  border-radius: 10px;
  padding: 20px;
}

.transactions-title {
  color: var(--bg-shade-2);
  font-weight: 400;
  font-size: 16px;
}

.transactions-container {
  overflow-x: auto;
}

.transactions-table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  margin: 15px auto;
  border-spacing: 0;
  width: 100%;
}

.transactions-table td {
  border: 0;
  border-bottom: 0.5px solid #d9d9d8;
  padding: 10px;
}

.transactions-table td:first-child {
  padding-left: 0;
}

.transactions-table td:last-child {
  padding-right: 0;
}

.transaction-status,
.transaction-type {
  text-transform: capitalize;
}

.transaction-status-success {
  color: #008f50;
}

.transaction-status-failed {
  color: #d90c34;
}

.transaction-status-pending {
  color: #f8a300;
}

.transaction-amount {
  color: var(--bg-shade-2);
  font-weight: 600;
}

.transaction-icon {
  border: 2.4px dashed #caecff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #caecff;
  border-radius: 50%;
  padding: 20px;
  height: 25px;
  width: 25px;
}

.transaction-icon-failed {
  background-color: var(--bg-shade-1);
  border: 2.4px dashed #caecff;
}

.transaction-icon-pending {
  background-color: var(--bg-shade-1);
  border: 2.4px solid #caecff;
}

.transaction-name-amount {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .transactions {
    background-color: inherit;
    padding: 0 20px;
  }

  .transactions-table {
    font-size: 13px;
  }

  .transaction-name-amount {
    color: var(--bg-shade-2);
    display: block;
    line-height: 1.5;
    margin-top: 5px;
    font-weight: 600;
    font-size: 12px;
  }

  .transaction-amount,
  .transaction-type {
    display: none;
  }
}
